{% extends 'home/index.html' %}
{% block banner %}
{% endblock banner %}

{% block contents %}
    <!--================login_part Area =================-->
    <section class="login_part padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center"style="background-image: url('https://wallpapers.com/images/featured/0ikv99bmodtep8sh.jpg'); width:100%;height:100%;">
                        <div class="login_part_text_iner">
                            <h2>Already a member?</h2>
                            <p>Discover the ultimate collections  of trendy sneakers with Shoezyy. Register now and get updates on our latest collections</p>
                            <a href="{% url 'signin' %}" class="btn_3">Log in here</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome to 
                              <span style="color:grey; ">Wild Flower</span></h3>

                              <form class="row contact_form" action="" method="post" >
                                 {% csrf_token %}
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control font-weight-bold" id="name" name="otp" value=""
                                        placeholder="Enter your OTP" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3" style="background-color:grey; border:1px solid grey;">
                                        Verify
                                    </button>
                                    <a  value="submit" class="btn_3 btn btn-sm btn-danger" style="background-color:grey;border:1px solid grey" href="{% url 'resend_otp' user.id %}">
                                        Resend OTP
                                    </a> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

{% endblock contents %}

