{% extends 'home/index.html' %}
{% load static %}
{% block banner %}
<section class="breadcrumb breadcrumb_bg"style="background-image: url('https://wallpapercave.com/wp/wp3646113.jpg'); width:100%;height:60%;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 class="" style="color:red">Cart Products</h2>
              <p class=" text-white"><strong>Home <span>-</span>Cart Products</stron</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>{% endblock banner %}

{% block contents %}



      <div class="container-fluid">
        <br><br><br>
{%if not cart_items%}
        <h2 class="text-center text-danger">Your Cart is Empty</h2>
        <div class="text-center">
            <a href="{%url 'userproduct' 0 %}">Continue shopping..</a>
        </div>
        {%else%}
        <section class="cart_area padding_top w-100">
            <form class="row contact_form" action="{% url 'checkout' %}" method="POST" >
             
                  {% csrf_token %}
                  <div class="container">
                    <div class="cart_inner">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Product</th>
                              <th scope="col">Price</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Total</th>
                            </tr>
                          </thead>
                          <tbody>
              
                            {% for item in cart_items %}
                            <tr>
                              <td>
                                <div class="media">
                                  <div class="d-flex">
                                    <a href="{% url 'singleproduct' item.product.id %}"><img src="{{ item.product.productimage_set.first.images.url }}" alt="" style="height: 70px;"></a>
                                  </div>
                                  <div class="media-body">
                                    <p>{{ item.product.name }}</p>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <h5>	
                                  ₹ {{ item.product.price }}</h5>
                              </td>
                              {% if item.product.stock == 0 %}
                              <td>
                                <div class="product_count">
                                <i class="text-danger">Product out of stock</i>
                                </div>
                                <td>
                                  <h5><del>{{ item.price }} </del></h5>
                                </td>
                              </td>
                              {% else %}
                              {% comment %} <td>
                                <div class="product_count" >

                                   <a href="{% url 'removecartitem' item.product.id %}"  > <i class="fas fa-minus"></i></a>
                                  <input class="input-number" name="quantity" type="text" value="{{item.quantity}}" min="0" max="100">
                                  <a href="{% url 'addcartitem' item.product.id %}" > <i class="fas fa-plus"></i></a>
                                </div>                      
                              </td> {% endcomment %}



                              <td>
                                <div class="product_count">
                                  <a href="{% url 'removecartitem' item.product.id %}" class="decrement-quantity" data-product-id="{{item.product.id}}"><i class="fas fa-minus"></i></a>
                                  <input class="input-number" name="quantity" type="text" value="{{item.quantity}}" min="0" max="100">
                                  <a href="{% url 'addcartitem' item.product.id %}" class="increment-quantity" data-product-id="{{item.product.id}}"><i class="fas fa-plus"></i></a>
                                </div> 
                              </td>
                              
                              
                              

                              <td>
                                <h5>{{ item.price }}</h5>
                              </td>
                              {% endif %}
                              <td>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                  <a href="{% url 'removecartproduct' item.product.id  %}" onclick="return confirm('Are You Sure?')" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                            <tr class="bottom_button">
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                              </td>

                              <td></td>
                              <td>
                                <h5>Subtotal</h5>
                              </td>
                              <td>
                                <h5>₹{{total}}</h5>
                              </td>
                            </tr>

                          </tbody>
                        </table>

                    <br>
                        <div class="checkout_btn_inner float-right">
                          <a class="btn_1" href="{% url 'userproduct' 0 %}" style="background-color:grey;" onmouseover="this.style.backgroundColor='red';"onmouseout="this.style.backgroundColor='grey';">Continue Shopping</a>
                          {% if total > 0 %}
                          <button type ="submit" class="btn_1 checkout_btn_1" style="background-color:grey; border: 2px solid grey;" onmouseover="this.style.backgroundColor='green';" onmouseout="this.style.backgroundColor='grey';">

                            Proceed to checkout
                          </button>
                          {% endif %}
                        
                        </div>
                      </div>
                      
                    </div>
             </form>
        </section>
      </div>
{% endif %}

  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <script>
    function confirmDelete(event) {
        event.preventDefault(); // prevent the link from redirecting immediately
        alertify.confirm('Message', 'Are You Sure Want to Delete This', function(){
            window.location.href = event.target.href; // redirect to the delete URL
        }, function(){ 
            alertify.error('Cancel')
        });
   }
</script> 
<script>
  $(document).ready(function() {
    $('.product_count').on('click', '.decrement-quantity, .increment-quantity', function(event) {
      event.preventDefault();
  
      var $link = $(this);
      var productId = $link.data('product-id');
      var quantityInput = $link.siblings('.input-number');
      var quantity = parseInt(quantityInput.val());
      var newQuantity = quantity;
  
      if ($link.hasClass('decrement-quantity') && quantity > 0) {
        newQuantity = quantity - 1;
      } else if ($link.hasClass('increment-quantity') && quantity < 100) {
        newQuantity = quantity + 1;
      }
  
      $.ajax({
        url: '/cart/update/',
        method: 'POST',
        data: {
          'product_id': productId,
          'quantity': newQuantity,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data) {
          if (data.success) {
            quantityInput.val(newQuantity);
          }
        }
      });
    });
  });
  </script>

{% endblock contents %}

